* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cuerpo {
    background-color: #52A943;
}

header {
    display: flex;
    /* Elementos al costado */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 105px;
    /* Alto */
}

main {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.body-container {
    background-color: white;
    width: 90%;
    max-width: 762px;
    /* Ancho máximo */
    height: auto;
    border-radius: 1rem;
    /* Borde redondeado */
    padding: 10px;
    /* Relleno, margen interno */
    margin-bottom: 100px;
}

.body-title {
    background-color: #FEBD2F;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 1rem;
    margin-bottom: 10px;
}

.body-card-itema {
    background-color: #ccffca;
        padding: 10px;
        text-align: center;
        font-weight: bolder;
        border-radius: 1rem;
        border-color: black;
        border-style: solid;
        margin-bottom: 1px;
}
.body-card-item :focus {
    color: black;
    font-weight: bold;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    margin-top: 17px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-item a {
    text-decoration: none;
}

.footer-item a span {
    font-size: 2rem;
    color: black;
}