* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cuerpo {
    background-color: #52A943;
}

header {
    display: flex;
    /* Elementos al costado */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 80px;
    /* Alto */
}

main {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.body-container {
    background-color: white;
    width: 90%;
    max-width: 762px;
    /* Ancho máximo */
    height: auto;
    border-radius: 1rem;
    /* Borde redondeado */
    padding: 10px;
    /* Relleno, margen interno */
}

.subtitulo {
    margin-top: 5px;
    font-size: 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #cfe7c6;
    padding: 10px;
    height: 10px;
    border-radius: 1rem;
}

.buscar_texto {
    border: none;
    background: none;
    outline: none;
    color: #949494;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
}

.boton {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fffffe;
    font-size: 30px;
}

@media screen and (min-width:480px) {
    .search:hover>.buscar_texto {
        width: 190px;
    }
}

@media screen and (min-width:768px) {
    .search:hover>.buscar_texto {
        width: 300px;
    }
}

@media screen and (min-width:1024px) {
    .search:hover>.buscar_texto {
        width: 500px;
    }
}

.body-cards {
    padding: 5px;
    margin-top: 20px;
    margin-left: -30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,
            minmax(8rem,
                8rem));
    gap: 50px;
    height: auto;
}

.card-distance {
    color: #949494;
    font-size: 10px;
}
.fav{
    font-size: 20px;
    width: 10px;
    height: 10px;
    border-radius: 1rem;
    
    background-color: goldenrod;
    color: white;
    border: none;
    display: fixed;
    justify-content: center;
    align-items: center;
    animation: shaking 2s infinite;
}
.fav :focus{
color: red;
}
@keyframes shaking {
    10% {
        transform: scale(1.05) rotate(5deg);
    }
        20% {
            transform: scale(1.05) rotate(5deg);
        }
                30% {
                    transform: scale(1.05) rotate(5deg);
                }
                                40% {
                                    transform: none;
                                }
    }
.button-add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer-container {
    margin-top: 17px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-item a {
    text-decoration: none;
}

.footer-item a span {
    font-size: 2rem;
    color: black;
}
